input/
competition-materials/
images/

working/*.zip
*.csv
checkpoints/
left/
left/working/experiments/**/results/
working/experiments/**/best_adapter/
working/experiments/**/checkpoints/
working/experiments/**/*.zip
